.btn {
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 0.15rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-primary {
  background-color: rgb(231, 163, 28);
  color: white;
}

.btn-primary:hover {
  background-color: rgb(208, 147, 24);
  color: white;
}

.btn-ghost {
  background-color: transparent;
  border: 2px solid rgb(231, 163, 28);
}

.btn-ghost:hover {
  background-color: rgb(231, 163, 28);
  color: white;
}
